Raspberry/nodered.json
[
    {
        "id": "6ec762b478958492",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e35c2dc39a1903ba",
        "type": "ui_tab",
        "name": "Température",
        "icon": "fa-thermometer-half",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fe90789315e9ed6b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#00a5ad",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#00a5ad",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#00a5ad",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#00eef9",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#00a5ad",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c788fc20a95befe9",
        "type": "ui_group",
        "name": "Température",
        "tab": "e35c2dc39a1903ba",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d89b0627d5bb5ee",
        "type": "inject",
        "z": "6ec762b478958492",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "f5244c9fe6878133"
            ]
        ]
    },
    {
        "id": "f5244c9fe6878133",
        "type": "exec",
        "z": "6ec762b478958492",
        "command": " /home/pi/433Utils/RPi_utils/./RFSniffer",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 360,
        "y": 80,
        "wires": [
            [
                "7077e0606d1c05b8",
                "e0263e3b8ba1df95"
            ],
            [],
            [
                "6a80c09c449618f0"
            ]
        ]
    },
    {
        "id": "8ccd8be2ce99da55",
        "type": "ui_gauge",
        "z": "6ec762b478958492",
        "name": "",
        "group": "c788fc20a95befe9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 100,
        "wires": []
    },
    {
        "id": "855062daa5dcbc8b",
        "type": "ui_chart",
        "z": "6ec762b478958492",
        "name": "",
        "group": "c788fc20a95befe9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "08d751fe4f3768fe",
        "type": "debug",
        "z": "6ec762b478958492",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 20,
        "wires": []
    },
    {
        "id": "7077e0606d1c05b8",
        "type": "function",
        "z": "6ec762b478958492",
        "name": "",
        "func": "msg.payload = parseInt(msg.payload.slice(9));\nif((msg.payload>>16) == 73){\n    msg.payload = (msg.payload-4784128)/10;\n    return msg;\n}else return null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 60,
        "wires": [
            [
                "08d751fe4f3768fe",
                "855062daa5dcbc8b",
                "8ccd8be2ce99da55"
            ]
        ]
    },
    {
        "id": "6a80c09c449618f0",
        "type": "function",
        "z": "6ec762b478958492",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "f5244c9fe6878133"
            ]
        ]
    },
    {
        "id": "e0263e3b8ba1df95",
        "type": "debug",
        "z": "6ec762b478958492",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 100,
        "wires": []
    }
]